﻿@model Project.Models.order_details

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}



<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.DisplayName("קוד הזמנה")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("idorder_details", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idorder_details, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("מוצר")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("iditem_details", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.iditem_details, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("גודל")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.size_details, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.size_details, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("כמות")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.amount_details, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.amount_details, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2" align="right">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
</div>
    }
 


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
