﻿@model Project.Models.order_details

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}
<h3 align="right">עדכון</h3>
<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="right">

        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idorder_details)

        @Html.HiddenFor(model => model.iditem_details)

        <div class="form-group">
            @Html.DisplayName("גודל")
            <div class="col-md-10">
                @Html.EditorFor(model => model.size_details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.size_details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayName("כמות")
            <div class="col-md-10">
                @Html.EditorFor(model => model.amount_details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.amount_details, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-left:50%">
        <div class="col-md-offset-2 ">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
