﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title מלבושי כבוד</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    <link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

</head>


<body style="padding-top:5px">
    <img src="~/pictures/logo-blue.JPG" class="right sm-image" />
    <!-- Navigation Bar -->
    <!-- Header -->
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    </header>

    <content>
        @*רקע תמונות מתחת לחלון*@
        @RenderBody()
        <div class="w3-row-padding w3-text-white w3-large" style="margin:5%">
            <div class="w3-half">
                <div class="w3-half">
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/9.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/clothes0.jpg" alt="New York" style="width:100%">
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918110_GREY_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/7-806x567.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918115_navy_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/2-806x567.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin">
                            <div class="w3-display-container">
                                <img src="~/pictures/clothes2.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3-half">
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/6.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918303_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/bubbles.jpg" alt="New York" style="width:100%">
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918113_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin">
                            <div class="w3-display-container">
                                <img src="~/pictures/clothes4.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin">
                            <div class="w3-display-container">
                                <img src="~/pictures/clothes1.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w3-half">
                <div class="w3-half">
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-margin">
                            <div class="w3-display-container">
                                <img src="~/pictures/clothes3.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918800_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918121_grey_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/10-806x567.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/1-806x567.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918110_PLUM2_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="w3-half">
                    <div class="w3-row-padding" style="margin:0 -16px">
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918328_black_360x.jpg" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/4-806x567.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/picture_of_baby.jpeg" alt="New York" style="width:100%">
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/slider_2_5d5da9fd-5e78-47b2-b441-c9cad3061f2c_180x.jpg" alt="New York" style="width:100%">
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/918318_360x.jpg" alt="New York" style="width:100%">
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/9-420x420.jpg" alt="New York" style="width:100%">
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>
                        <div class="w3-margin ">
                            <div class="w3-display-container">
                                <img src="~/pictures/3-806x567.png" alt="New York" style="width:100%" />
                                <span class="w3-display-bottomleft w3-padding">New York</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </content>



    <!-- Footer -->
    <footer class="w3-container w3-center w3-opacity w3-margin-bottom">
        <h5>Find Us On</h5>
        <div class="w3-xlarge w3-padding-16">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>

    <script>
        // Tabs
        function openLink(evt, linkName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("myLink");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(linkName).style.display = "block";
            evt.currentTarget.className += " w3-red";
        }
    </script>

</body>
</html>