﻿

@model Project.Models.modelOfItemAndCategory
<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/StyleSheetMenu.css" rel="stylesheet" />
    <link href="~/Content/StyleMain.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="width:100%;height:10%;background-color:white;">
        <img src="~/pictures/logo-blue.JPG"  class="right sm-image" style="position:fixed;right:0" />
        <br />
        &nbsp;&nbsp;&nbsp; @Html.ActionLink(" התנתקות ", "Index", "Home", null, new { @class = "glyphicon glyphicon-log-out", @style = "color:navy;" })

        <br /> <br />

               <div class="navbar" style="background-color:navy;">
                   <ul class="main-menu" style="text-align:center">

                       <li>
                           אזור אישי
                           <ul class="sub-menu">
                               <li>
                                   @Html.ActionLink("סל קניות", "MyShoppingCart", "Manager_items")
                               </li>
                               <li>@Html.ActionLink("הזמנות קודמות", "prevOrders", "Manager_items") </li>
                               <li>@Html.ActionLink("הזמנות בהמתנה", "WaitOrders", "Manager_items")</li>
                           </ul>
                       </li>

                       <li>
                           בנות
                           <ul class="sub-menu">
                               @foreach (var item in Model.Category_itemsWoman)
                               {
                                   <li>
                                       @Ajax.ActionLink(item.name_category, "ShopperIndex", "Manager_items", new { nameCategory = item.name_category, type = "בנות" }, new AjaxOptions()
                              {
                                           HttpMethod = "post",
                                  UpdateTargetId = "divSearchResults",
                                  InsertionMode = InsertionMode.Replace
                              }, htmlAttributes: new { @class = "list-group-item" })

                                   </li>
                               }
                           </ul>
                       </li>
                       <li>
                           בנים
                           <ul class="sub-menu">

                               @foreach (var item in Model.Category_itemsMan)
                               {

                                   <li>
                                       @Ajax.ActionLink(item.name_category, "ShopperIndex", "Manager_items", new { nameCategory = item.name_category, type = "בנים" }, new AjaxOptions()
                              {
                                           HttpMethod = "post",
                                  UpdateTargetId = "divSearchResults",
                                  InsertionMode = InsertionMode.Replace
                              }, htmlAttributes: new { @class = "list-group-item" })

                                   </li>
                               }
                           </ul>

                       </li>
                       <li>
                           נערות
                           <ul class="sub-menu">
                               @foreach (var item in Model.Category_itemsWoman)
                               {
                                   <li>
                                       @Ajax.ActionLink(item.name_category, "ShopperIndex", "Manager_items", new { nameCategory = item.name_category, type = "נערות" }, new AjaxOptions()
                              {
                                           HttpMethod = "post",
                                  UpdateTargetId = "divSearchResults",
                                  InsertionMode = InsertionMode.Replace
                              }, htmlAttributes: new { @class = "list-group-item" })

                                   </li>
                               }
                           </ul>
                       </li>


                       <li>
                           נערים
                           <ul class="sub-menu">
                               @foreach (var item in Model.Category_itemsMan)
                               {
                                   <li>
                                       @Ajax.ActionLink(item.name_category, "ShopperIndex", "Manager_items", new { nameCategory = item.name_category, type = "נערים" }, new AjaxOptions()
                              {
                                           HttpMethod = "post",
                                  UpdateTargetId = "divSearchResults",
                                  InsertionMode = InsertionMode.Replace
                              }, htmlAttributes: new { @class = "list-group-item" })

                                   </li>
                               }

                           </ul>

                       </li>
                       <li>
                           @Html.ActionLink("פרטי מכירה", "ContactUs","Manager_items")


                       </li>

                   </ul>
               </div>
    </div>
    <div class="container body-content " style="margin-top:5%;">
        <div id="itemView"></div>
        <content>
            @RenderBody()
        </content>
        </div>
</body>
</html>