﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/StyleSheetMenu.css" rel="stylesheet" />
    <link href="~/Content/StyleMain.css" rel="stylesheet" />
    @*<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"*@ />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title מלבושי כבוד</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/w3.css" rel="stylesheet" />
    <link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/StyleSheetMenu.css" rel="stylesheet" />
    <link href="~/Content/StyleMain.css" rel="stylesheet" />
</head>


<body style="height:100%">
    <div class="navbar navbar-default navbar-fixed-top" style="width:100%;height:10%;background-color:white;">
        <img src="~/pictures/logo-blue.JPG" class="right sm-image" style="position:fixed;right:0" />
        <br />

        &nbsp;&nbsp;&nbsp; @Html.ActionLink(" התנתקות ", "Index", "Home", null, new { @class = "glyphicon glyphicon-log-out", @style = "color:navy;" })

        <br /> <br />

        <div class="navbar navbar-default" style="background-color:navy;">
            <br />

        </div>
    </div>
    
    
 
    <br /> <br />
    <table class="table" style="height:200%">
        <tr style="height:200%">
            <th id="main">
                <div class="container body-content " style="margin-top:5%;align-items:center">
                    <content>
                        @RenderBody()
                        
                    </content>

                </div>
            </th>
            <th style="width:20%;clear:right ; margin-bottom:auto;background-color:navy;color:white;" id="main" height="80%">
                @*<div id="sidebar" class="vertical-menu navbar-fixed-bottom" style="text-align:right;margin-left:auto;position: fixed;width:15%">*@
                <h2>להיסטוגרמות</h2>

                @Html.ActionLink(" לגרף חולצות נערים ", "Column", "Manager_Statistics", new { type = 1, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף מכנסי נערים ", "Column", "Manager_Statistics", new { type = 1, category = 2, }, null)<br />
                @Html.ActionLink(" לגרף נעלי נערים ", "Column", "Manager_Statistics", new { type = 1, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף חולצות נערות ", "Column", "Manager_Statistics", new { type = 2, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף שמלות נערות ", "Column", "Manager_Statistics", new { type = 2, category = 3, }, null)<br />
                @Html.ActionLink(" לגרף נעלי נערות ", "Column", "Manager_Statistics", new { type = 2, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף חולצות בנות ", "Column", "Manager_Statistics", new { type = 3, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף שמלות בנות ", "Column", "Manager_Statistics", new { type = 3, category = 3, }, null)<br />
                @Html.ActionLink(" לגרף נעלים לבנות  ", "Column", "Manager_Statistics", new { type = 3, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף חולצות בנים ", "Column", "Manager_Statistics", new { type = 4, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף מכנסים לבנים ", "Column", "Manager_Statistics", new { type = 4, category = 2, }, null) <br/>
                @Html.ActionLink(" לגרף נעלים לבנים ", "Column", "Manager_Statistics", new { type = 4, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף חולצות כללי ", "Column", "Manager_Statistics", new { type = 5, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף מכנסים כללי ", "Column", "Manager_Statistics", new { type = 5, category = 2, }, null)<br />
                @Html.ActionLink(" לגרף שמלות כללי ", "Column", "Manager_Statistics", new { type = 5, category = 3, }, null)<br />
                @Html.ActionLink(" לגרף נעלים כללי ", "Column", "Manager_Statistics", new { type = 5, category = 4, }, null)<br />
                <h2>לאחוזים</h2>
                @Html.ActionLink(" לגרף אחוזים חולצות נערים ", "ExportChart", "Manager_Statistics", new { type = 1, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים מכנסי נערים ", "ExportChart", "Manager_Statistics", new { type = 1, category = 2, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים נעלי נערים ", "ExportChart", "Manager_Statistics", new { type = 1, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים חולצות נערות ", "ExportChart", "Manager_Statistics", new { type = 2, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים שמלות נערות ", "ExportChart", "Manager_Statistics", new { type = 2, category = 3, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים נעלי נערות ", "ExportChart", "Manager_Statistics", new { type = 2, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים חולצות בנות ", "ExportChart", "Manager_Statistics", new { type = 3, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים שמלות בנות ", "ExportChart", "Manager_Statistics", new { type = 3, category = 3, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים נעלים לבנות  ", "ExportChart", "Manager_Statistics", new { type = 3, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים חולצות בנים ", "ExportChart", "Manager_Statistics", new { type = 4, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים מכנסים לבנים ", "ExportChart", "Manager_Statistics", new { type = 4, category = 2, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים נעלים לבנים ", "ExportChart", "Manager_Statistics", new { type = 4, category = 4, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים חולצות כללי ", "ExportChart", "Manager_Statistics", new { type = 5, category = 1, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים מכנסים כללי ", "ExportChart", "Manager_Statistics", new { type = 5, category = 2, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים שמלות כללי ", "ExportChart", "Manager_Statistics", new { type = 5, category = 3, }, null)<br />
                @Html.ActionLink(" לגרף אחוזים נעלים כללי ", "ExportChart", "Manager_Statistics", new { type = 5, category = 4, }, null)<br />


                <footer style="margin-bottom:auto;background-color:navy;color:white;">
                    <br /><br /><br /><br /><br /><br />
                    &copy; @DateTime.Now.Year - מלבושי כבוד&nbsp;&nbsp;&nbsp;

                </footer>
                @*</div>*@

            </th>

        </tr>

    </table>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script>
        // Tabs
        function openLink(evt, linkName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("myLink");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(linkName).style.display = "block";
            evt.currentTarget.className += " w3-red";
        }
    </script>

</body>
</html>