﻿@model Project.Models.setting

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}


<h3 align="right">מחיקה</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/18-806x567.png" style="width:450px;height:300px" />
</div>
<div align="right">
    <br />
    <dl class="dl-horizontal" style="margin-left:80%">
        <dt>
            @Html.DisplayFor(model => model.minfamsize_setting)
         </dt>

        <dd>
            @Html.DisplayName("מס' ילדים מנימאלי")
        </dd>

        <dt>
            @Html.DisplayFor(model => model.maxsalary_setting)
        </dt>
        <dd>
            @Html.DisplayName("משכורת מקסימלית")
        </dd>

        <dt>
            @Html.DisplayFor(model => model.numitems_setting)
        </dt>
        <dd>
            @Html.DisplayName("מספר מוצרים")
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left:50%">
            <div class="col-md-offset-2">
                <input type="submit" value="מחיקה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
    }
</div>
