﻿@model Project.Models.item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}
<h3 align="right">עדכון</h3>
<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_item)
    @Html.HiddenFor(model => model.sizeinstock_item)
    <h4 class="text-danger" style="text-align:right">@ViewBag.error1</h4>
    <div class="form-group">
        @Html.DisplayName("מוצר")
        <div class="col-md-10">
            @Html.EditorFor(model => model.name_item, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name_item, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("סוג")
        <div class="col-md-10">
            @Html.DropDownList("idtype_item", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idtype_item, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("תמונה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.picture_item, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.picture_item, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("מחיר")
        <div class="col-md-10">
            @Html.EditorFor(model => model.price_item, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price_item, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("צבע")
        <div class="col-md-10">
            @Html.EditorFor(model => model.color_item, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.color_item, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("כמות מוגבלת")
        <div class="col-md-10">
            @Html.EditorFor(model => model.limitedamount_item, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.limitedamount_item, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("קטגוריה")
        <div class="col-md-10">
            @Html.DropDownList("id_i_category", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_i_category, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
    <div class="form-group" style="margin-left:50%">
        <div class="col-md-offset-2 ">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
}

