﻿@model Project.Models.modelOfItemAndCategory

@{
    ViewBag.Title = "MyShoppingCart";
    Layout = "~/Views/Shared/_ManagerShopingLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>


<link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
<link href="~/Content/w3.css" rel="stylesheet" />
<div id="divSearchResults">
    <br />
    <h3>סל קניות</h3>
    <br />
    <table class="table1">

        <tr>
            <th>העברה לרשימת המתנה</th>
            <th>כמות</th>
            <th>מחיר</th>
            <th>מידה</th>
            <th>שם מוצר</th>
            <th></th>
            <th></th>
            @for (int i = 0; i < Model.MyShoppingCart.Count; i++)
            {
            <tr>
                <td>
                    <br>
         
                    @if (Model.MyShoppingCart[i].itemInWait == 1)
                    {
                    <input type="checkbox" class="itewA" id="itewA" style="width:25px;height:25px" onclick="window.location.href='@Url.Action("AddWait","Manager_items", new { data = Model.MyShoppingCart[i].id_item+";"+ Model.MyShoppingCart[i].sizeinstock_item })'" />
                    }
                    @if (Model.MyShoppingCart[i].itemInWait == 2)
                    {

                        <input checked type="checkbox" class="itewA" id="itewA" style="width:25px;height:25px" onclick="window.location.href='@Url.Action("AddWait","Manager_items", new { data = Model.MyShoppingCart[i].id_item+";"+ Model.MyShoppingCart[i].sizeinstock_item })'" />
                    }

                </td>

                <td>
                    <input type="button" value="+" id="plus" class="plus" style="margin-left:auto" onclick="window.location.href='@Url.Action("AddItem","Manager_items", new { data = Model.MyShoppingCart[i].id_item+";"+ Model.MyShoppingCart[i].sizeinstock_item })'">
                    <input type="number" step="1" min="1" name="quantity" style="height:40px;margin-top:auto;width:50%;margin-left:auto;" id="quantity" disabled value="@Html.DisplayFor(modelItem => modelItem.MyShoppingCart[i].Amount)" class="input-text qty text">
                    <input type="button" value="-" id="minus" class="minus" style="margin-left:-10%" onclick="window.location.href='@Url.Action("DeleteItem","Manager_items", new { data = Model.MyShoppingCart[i].id_item+";"+ Model.MyShoppingCart[i].sizeinstock_item })'">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.MyShoppingCart[i].price_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.MyShoppingCart[i].sizeinstock_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.MyShoppingCart[i].name_item)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => modelItem.MyShoppingCart[i].picture_item)" style="height:150px;display:inline-block;" />
                </td>

                <td>

                    @Html.ActionLink("הסרה", "DeleteAllItem", "Manager_items", new { data = Model.MyShoppingCart[i].id_item+";"+ Model.MyShoppingCart[i].sizeinstock_item },new { send="send"})
                </td>
            </tr>
        }

        </table>
        <h4>
            @Html.ActionLink("סיום הזמנה", "endShop", "Manager_clients")
        </h4>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>


        var checkboxValue = JSON.parse(localStorage.getItem('checkboxValue')) || {}     
    </script>
    <style>

        .table1 {
            border-collapse: collapse;
            width: 100%;
        }

            .table1 th {
                font-size: 20px;
            }

        ce, .quantity, .qty {
            width: 3.631em;
            text-align: center;
        }

        .quantity, .qty, .quickview-modal, .quantity, .qty {
            padding: 0;
            width: 30px !important;
            height: 35px;
            border-bottom: 1px solid #cccccc;
            border-top: 1px solid #cccccc;
            border-right: none;
            border-left: none;
            float: left;
            -webkit-appearance: none;
            /*border-radius: 0;*/
        }

        .minus {
            border-left: none;
        }

        .plus {
            border-right: none;
        }

        .plus, .minus, .quantity, .qty {
            background-color: #fff;
            height: 40px;
            width: 20px;
            padding: 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            float: left;
            color: #6b35f7;
            line-height: 1;
        }

            .plus:hover, .minus:hover {
                background-color: #6666b2;
                color: #fff;
            }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>