﻿@model Project.Models.modelOfItemAndCategory

@{
    ViewBag.Title = "orders";
    Layout = "~/Views/Shared/_ManagerShopingLayout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>


<link href="~/Content/stylesheet_rivka.css" rel="stylesheet" />
<link href="~/Content/w3.css" rel="stylesheet" />
<div id="divSearchResults">
    <br />
    <h3>הזמנות קודמות</h3>
    <br />
    <table class="table1">

        <tr>

            <th>תאריך הזמנה</th>
            <th>קוד הזמנה</th>
            <th></th>
        </tr>
        @foreach (var item in Model.orders)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.date_order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_order)
                </td>
                <td>
                    @Html.ActionLink("פרוט", "DetailsOrders", new { id = item.id_order })
                </td>

            </tr>
        }

    </table>
</div>

    <style>

        .table1 {
            border-collapse: collapse;
            width: 80%;
        }
            .table1 th {
                font-size: 20px;
            }
    </style>