﻿@using Project.Models
@model CustomerClientVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}


<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" align="right">
        @Html.DisplayName("ת'ז")
        <br /><br />
        <input type="text" class="form-control" name="tzt" id="tzt" />
    </div>

    <div class="form-group">
        @Html.DisplayName("תאריך לידה")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.listChlidren[0].birthdate_child, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.listChlidren[0].birthdate_child, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-13">
            <label> @Html.DisplayName(" הכנס/י מין ")</label>
            @Html.DropDownListFor(model => model.listChlidren[0].m_f_child,
                    new SelectList(Enum.GetValues(typeof(Gender))),
                    "זכר", new { @class = "form-control MakeWide" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2" align="right">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />

        </div>
    </div>
</div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
