﻿@using Project.Models
@model Project.Models.children

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">עדכון</h3>
<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" align="right">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_child)
    @Html.HiddenFor(model => model.idclient_child)
    <div class="form-group">
        @Html.DisplayName("תז הורה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.client.tz_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.client.tz_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("שם הורה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.client.nameclient, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.client.nameclient, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("תאריך לידה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.birthdate_child, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.birthdate_child, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("מין")
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.m_f_child, new SelectList(Enum.GetValues(typeof(Gender))), "זכר", new { @class = "form-control MakeWide" })
            @Html.ValidationMessageFor(model => model.m_f_child, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
    <div class="form-group" style="margin-left:50%">
        <div class="col-md-offset-2 ">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>

}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
