﻿@model IEnumerable<Project.Models.children>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}


<h2 style="margin-left:8%">ילדים</h2>
<h3 style="margin-left:75%">
    @Html.ActionLink("חדש", "Create")
</h3>
<div style="margin-right:10%">
    @using (Ajax.BeginForm("Search", "Manager_children", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div align="right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי שם / ת.ז. הורה/ מין" />

        </div>
    }
</div>
    <div id="divSearchResults">
        <br />
        <table class="table" style="text-align:left;width:80%">

            <tr class="tr11">
                <th></th>
                <th>
                    @Html.DisplayName("מין")
                </th>
                <th>
                    @Html.DisplayName("תאריך לידה")
                </th>
                <th>
                    @Html.DisplayName("שם הורה")
                </th>
                <th>
                    @Html.DisplayName("ת'ז הורה")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("עדכון", "Edit", new { id = item.id_child }) |
                        @Html.ActionLink("מחיקה", "Delete", new { id = item.id_child })
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.m_f_child)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthdate_child)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client.nameclient)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.client.tz_client)
                    </td>

                </tr>
            }

        </table>
    </div>
   