﻿
@model IEnumerable<Project.Models.children>
@{
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>


<div id="divSearchResults">
    <h2 style="margin-left:8%">ילדים</h2>
    <h3 style="margin-left:75%">
        @Html.ActionLink("חדש", "Create")
    </h3>
    <div style="margin-right:10%">
        @using (Ajax.BeginForm("Search", "Manager_children", new AjaxOptions()
        {
            HttpMethod = "post",
            UpdateTargetId = "divSearchResults",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <div align="right">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי שם / ת.ז. הורה/ מין" />

            </div>
        }
        </div>
        <h4 class="text-danger" align="right">@ViewBag.error9</h4>




        @if (Model != null)
        {
            <br />
            <table class="table" style="text-align:left;width:80%">
                <tr class="tr11">
                    <th></th>
                    <th>
                        @Html.DisplayName("מין")
                    </th>
                    <th>
                        @Html.DisplayName("תאריך לידה")
                    </th>
                    <th>
                        @Html.DisplayName("שם הורה")
                    </th>
                    <th>
                        @Html.DisplayName("תז הורה")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("עדכון", "Edit", new { id = item.id_child }) |
                            @Html.ActionLink("מחיקה", "Delete", new { id = item.id_child })
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.m_f_child)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.birthdate_child)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.client.nameclient)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.client.tz_client)
                        </td>


                    </tr>
                }

            </table>
        }

    </div>

