﻿@model Project.Models.category_item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">עדכון</h3>
<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
<div class="form-horizontal" align="right">

   
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_category)

    <div class="form-group">
        @Html.DisplayName("קטגוריה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.name_category, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name_category, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("סוג")
        <div class="col-md-10">
            @Html.DropDownList("id_typeItem", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_typeItem, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
        <div class="form-group"  style="margin-left:50%">
            <div class="col-md-offset-2 " >
                <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
                <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
   
}

