﻿@model IEnumerable<Project.Models.category_item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">קטגוריה</h2>

<h3 style="margin-left:55%">
    @Html.ActionLink("חדש", "Create")
</h3>
<table  style="text-align:left;width:60%">

    <tr class="tr11">
        <th>
        </th>
        <th>
            @Html.DisplayName("סוג")
        </th>
        <th>
            @Html.DisplayName("קטגוריה")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr22">
            <td>
                @Html.ActionLink("עדכון", "Edit", new { id = item.id_category }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.id_category })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_item.name_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_category)
            </td>

        </tr>
    }
</table>