﻿@model IEnumerable<Project.Models.type_item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}



    <h2 style="margin-left:8%"> סוג מוצר</h2>


<h3 style="margin-left:55%" >
    @Html.ActionLink("חדש", "Create")
</h3>
<table class="table" style="text-align:left;width:60%">
    <tr class="tr11">
        <th></th>
        <th>
            @Html.DisplayName("סוג")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("עדכון", "Edit", new { id = item.id_type }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.id_type })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_type)
            </td>

        </tr>
    }

</table>
