﻿@model IEnumerable<Project.Models.tblfiles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">מסמכים</h2>
<h3 style="margin-left:75%">
    @Html.ActionLink("חדש", "Create")
</h3>
<div style="margin-right:10%">
    @using (Ajax.BeginForm("Search", "Manager_tblfiles", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div align="right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי שם / ת.ז" />

        </div>
    }
</div>
<div id="divSearchResults">
    <br />
    @using (Html.BeginForm("DownloadFile", "Manager_tblfiles", FormMethod.Post))
    {
        <input type="hidden" id="hfFileId" name="FileId" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }
    <hr />
    <table cellpadding="0" cellspacing="0" class="table" style="text-align:left;width:80%">
        <tr class="tr11">
            <th></th>
            <th>Download</th>
            <th>קובץ</th>
            <th style="width:50px">שם רשום</th>
            <th>תז רשום</th>


        </tr>
        @if (Model.Count() > 0)
        {
            foreach (var file in Model)
            {
        <tr class="tr22">
            <td>
                @Html.ActionLink("עדכון", "Edit", new { id = file.id }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = file.id })
            </td>
            <td><a href="javascript:;" onclick="DownloadFile(@file.id)">Download</a></td>@*הורדת קובץ*@
            <td>@file.namef</td>
            <td>@file.client.nameclient</td>
            <td>@file.client.tz_client</td>


        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        }
    </table>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
</div>