﻿
@model IEnumerable<Project.Models.item_in_sale>
@{
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>




 
<div id="divSearchResults">
    @using (Ajax.BeginForm("Search", "Manager_item_in_sale", new AjaxOptions()
    {
        HttpMethod = "post",
        UpdateTargetId = "divSearchResults",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <div align="right">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <input type="text" class="btn btn-default searchTxt" name="searchTxt" placeholder="חיפוש לפי מוצר /מכירה/ עיר" />

        </div>
    }
    <h4 class="text-danger" align="right">@ViewBag.error9</h4>
    @if (Model != null)
    {
        <br />
        <table class="table" style="text-align:left;">
            <tr class="tr11">
                <th></th>
                <th>
                    @Html.DisplayName("מידה")
                </th>
                <th>
                    @Html.DisplayName("כמות")
                </th>
                <th>
                    @Html.DisplayName("עיר")
                </th>
                <th>
                    @Html.DisplayName("מכירה")
                </th>

                <th>
                    @Html.DisplayName("מוצר")
                </th>
                <th>
                    @Html.DisplayName("קוד מוצר")
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.ActionLink("עדכון", "Edit", new { id = item.id_itemsale }) |
                        @Html.ActionLink("מחיקה", "Delete", new { id = item.id_itemsale })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.size_itemsale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amountinstock_itemsale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city.name_city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sale.name_sale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.name_item)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.item.id_item)
                    </td>


                </tr>
            }

        </table>}
</div>
