﻿@model IEnumerable<Project.Models.neighborhood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">שכונות</h2>

<h3 style="margin-left:55%">
    @Html.ActionLink("חדש", "Create")
</h3>
<table class="table" style="text-align:left;width:60%">
    <tr class="tr11">
        <th></th>
        <th>
            @Html.DisplayName("שכונה")
        </th>
        <th>
            @Html.DisplayName("עיר")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("עדכון", "Edit", new { id = item.id_neighborhood }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.id_neighborhood })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city.name_city)
            </td>

        </tr>
    }

</table>
