﻿@model Project.Models.client

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">חדש</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/6.png" style="width:450px;height:300px" />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group" align="right">
        @Html.DisplayName("סוג משתמש")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("iduser_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.iduser_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" align="right">
        @Html.DisplayName("סיסמה")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.passwordc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.passwordc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" align="right">
        @Html.DisplayName("תעודת זהות")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.tz_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tz_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" align="right">
        @Html.DisplayName("שם")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.nameclient, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nameclient, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group" align="right">
        @Html.DisplayName("עיר")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("idcity_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.city.name_city, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" align="right">
        @Html.DisplayName("שכונה")
        <br /><br />
        <div class="col-md-13">
            @Html.DropDownList("idneighborhood_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idneighborhood_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" align="right">
        @Html.DisplayName("כתובת")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.address_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.address_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" align="right">
        @Html.DisplayName("טלפון")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.phone_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.phone_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" align="right">
        @Html.DisplayName("כתובת מייל")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.email_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" align="right">
        @Html.DisplayName("עיסוק האב")
        <br /><br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.fatherjob_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fatherjob_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" align="right">
        <div class="col-md-13">
            <label> @Html.DisplayName(" הכנס/י משכורת לשלשת החודשים האחרונים")</label>
        </div>
        <br />
        <div>
            @Html.EditorFor(model => model.salary1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salary1, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.salary2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salary2, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="col-md-13">
            @Html.EditorFor(model => model.salary3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salary3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" align="right">
        @Html.DisplayName("מספר ילדים")
        <br /><br />
        <div class="col-md-13" align="right">
            @Html.EditorFor(model => model.numchildren_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.numchildren_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" align="right">
        <br /><br />
        @Html.DisplayName("ההזמנה האחרונה")
        <div class="col-md-13">
            @Html.EditorFor(model => model.lastorder_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastorder_client, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2" align="right">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
</div>
}


