﻿@model Project.Models.client

@{
    ViewBag.Title = "Create";
}

<h2>M&E JEWELRIES</h2>
<h3 class="text-danger">@ViewBag.error</h3>
<form method="get" action="@Url.Action("Create","Manager_orders")">
    @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.DisplayName("ת.ז")
            <div class="col-md-10 btn btn-default glyphicon glyphicon-star" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="password" placeholder="@ViewBag.PasswordCustomer" name="IdCustomer" value="@Request["IdCustomer"]" class="form-control" />
                @Html.ValidationMessageFor(model => model.id_client, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("שם")<div class="col-md-10 btn btn-default glyphicon glyphicon-user" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="text" placeholder="@ViewBag.NameCustomer" class="form-control" />
                @Html.ValidationMessageFor(model => model.nameclient, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("כתובת")<div class="col-md-10 btn btn-default glyphicon glyphicon-user" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="text" placeholder="@ViewBag.NameCustomer" class="form-control" />
                @Html.ValidationMessageFor(model => model.address_client, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("שכונה")<div class="col-md-10 btn btn-default glyphicon glyphicon-share" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="text" placeholder="@ViewBag.AddressCustomer" class="form-control" />
                @Html.ValidationMessageFor(model => model.neighborhood, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("עיר")<div class="col-md-10 btn btn-default glyphicon glyphicon-user" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="text" placeholder="@ViewBag.NameCustomer" class="form-control" />
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayName("טלפון")<div class="col-md-10 btn btn-default glyphicon glyphicon-phone" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="text" placeholder="@ViewBag.PhoneCustomer" class="form-control" />
                @Html.ValidationMessageFor(model => model.phone_client, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.DisplayName("כתובת מייל")<div class="col-md-10 btn btn-default glyphicon glyphicon-user" style="font-size:20px;width:50px;"></div>
            <div>
                <input type="text" placeholder="@ViewBag.NameCustomer" class="form-control" formaction="@Url.Action("endShop","Manager_clients")" />
                @Html.ValidationMessageFor(model => model.email_client, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <input type="submit" value="שמירה" class="btn btn-default" formaction="@Url.Action("endShop","Manager_clients")" />
    }
    </form>


 