﻿@model Project.Models.client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}



<h3 align="right">פרטים נוספים</h3>
<div class="leftpane">
    <br /><br />
    <br />
    <img src="~/pictures/8-1-806x567.png" style="width:450px;height:300px" />
</div>
<div align="right">
   <br />
   <dl class="dl-horizontal" style="margin-left:75%">
       <dt>
           @Html.DisplayFor(model => model.users.name_user)
       </dt>

       <dd>
           @Html.DisplayName("סוג משתמש")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.nameclient)
       </dt>
       <dd>
           @Html.DisplayName("שם")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.passwordc)
       </dt>
       <dd>
           @Html.DisplayName("סיסמה")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.phone_client)
       </dt>

       <dd>
           @Html.DisplayName("טלפון")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.email_client)
       </dt>

       <dd>
           @Html.DisplayName("כתובת מייל")
       </dd>

       <dt>
           @Html.DisplayFor(model => model.city.name_city)
       </dt>


       <dd>
           @Html.DisplayName("עיר")
       </dd>

       <dt>
           @Html.DisplayFor(model => model.neighborhood.name_neighborhood)
       </dt>
       <dd>
           @Html.DisplayName("שכונה")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.address_client)
       </dt>
       <dd>
           @Html.DisplayName("כתובת")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.numchildren_client)
       </dt>
       <dd>
           @Html.DisplayName("מס' ילדים")
       </dd>
       <dt>
           @Html.DisplayFor(model => model.fatherjob_client)
       </dt>

       <dd>
           @Html.DisplayName("עיסוק האב")
       </dd>

       <dt>
           @Html.DisplayFor(model => model.avgsalary_client)
       </dt>
       <dd>
           @Html.DisplayName("ממוצע משכורות")
       </dd>

   </dl>
    <input type="button" value="חזרה" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
</div>

