﻿@model Project.Models.client

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h3 align="right">עדכון</h3>
<div class="leftpane">
    <br /><br />
    <br />

    <img src="~/pictures/9.png" style="width:450px;height:300px" />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" align="right">

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_client)
    @Html.HiddenFor(model => model.numchildren_client)


    <div class="form-group">
        @Html.DisplayName("סוג משתמש")
        @*<div class="form-group">
                @Html.DisplayName("עיר")
                <div class="col-md-10">
                    @Html.DropDownList("users.name_user", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.users.name_user, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="col-md-10">
            @Html.DropDownList("iduser_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.users.name_user, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("סיסמה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.passwordc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.passwordc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("תעודת זהות")
        <div class="col-md-10">
            @Html.EditorFor(model => model.tz_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tz_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("שם")
        <div class="col-md-10">
            @Html.EditorFor(model => model.nameclient, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nameclient, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("כתובת")
        <div class="col-md-10">
            @Html.EditorFor(model => model.address_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.address_client, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.DisplayName("עיר")
        <div class="col-md-10">
            @Html.DropDownList("idcity_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.city.name_city, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("שכונה")
        <div class="col-md-10">
            @Html.DropDownList("idneighborhood_client", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.neighborhood.name_neighborhood, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        @Html.DisplayName("טלפון")
        <div class="col-md-10">
            @Html.EditorFor(model => model.phone_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.phone_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("כתובת מייל")
        <div class="col-md-10">
            @Html.EditorFor(model => model.email_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email_client, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.DisplayName("עיסוק האב")
        <div class="col-md-10">
            @Html.EditorFor(model => model.fatherjob_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fatherjob_client, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.DisplayName("שלוש משכורות ")
        <div class="col-md-10">
            @Html.EditorFor(model => model.salary1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salary1, "", new { @class = "text-danger" })<br />
        </div>
        <div class="col-md-10">

            @Html.EditorFor(model => model.salary2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salary2, "", new { @class = "text-danger" })
            <br />
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.salary3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salary3, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.DisplayName("הזמנה אחרונה")
        <div class="col-md-10">
            @Html.EditorFor(model => model.lastorder_client, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastorder_client, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
    <div class="form-group" style="margin-left:50%">
        <div class="col-md-offset-2 ">
            <input type="submit" value="שמירה" class="btn btn-my" />&nbsp;&nbsp;&nbsp;
            <input type="button" value="ביטול" class="btn btn-my" onclick="location.href='@Url.Action("Index")'" />
        </div>
    </div>
}


