﻿@model IEnumerable<Project.Models.city>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManLayout.cshtml";
}

<h2 style="margin-left:8%">ערים</h2>

<h3 style="margin-left:45%">
    @Html.ActionLink("חדש", "Create")
</h3>
<table class="table" style="text-align:left;width:50%">

    <tr class="tr11">
        <th></th>
        <th>
            עיר
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="tr22">
            <td>
                @Html.ActionLink("עדכון", "Edit", new { id = item.id_city }) |
                @Html.ActionLink("מחיקה", "Delete", new { id = item.id_city })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_city)
            </td>

        </tr>
    }

</table>
