﻿@model Project.Models.client

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title right">  !@ViewBag.name  שלום</h4>
                </div>
                @using (Html.BeginForm("Edit", "CustomerClients"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_client)
                    @Html.HiddenFor(model => model.passwordc)
                    @Html.HiddenFor(model => model.iduser_client)
                    @Html.HiddenFor(model => model.lastorder_client)
                   <label id="salary1" hidden="hidden" >@Html.DisplayFor(model => model.salary1)</label>
                    <label id="salary2" hidden="hidden">@Html.DisplayFor(model => model.salary2)</label>
                    <label id="salary3" hidden="hidden">@Html.DisplayFor(model => model.salary3)</label>
                    <label id="salary4" hidden="hidden">@Html.DisplayFor(model => model.salary4)</label>
                    <div class="modal-body">
                        <h4 class="text-danger" style="text-align:center">@ViewBag.error1</h4>
                        <hr />
                        אנא עדכן את פרטיך האישיים להקלת הכניסה והשימוש באתר
                        <div class="form-group">
                            <div class="col-md-10">
                                <label> @Html.DisplayName(" שם ")</label>

                                @Html.EditorFor(model => model.nameclient, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nameclient, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label> @Html.DisplayName(" ת'ז")</label>

                                @Html.EditorFor(model => model.tz_client, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tz_client, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label> @Html.DisplayName(" טלפון")</label>

                                @Html.EditorFor(model => model.phone_client, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phone_client, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <h1>@ViewBag.errorp</h1>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label> @Html.DisplayName(" כתובת מייל")</label>

                                @Html.EditorFor(model => model.email_client, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email_client, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label>   @Html.DisplayName("עיר")</label>
                                <div style="margin-right:30%">
                                    @Html.DropDownList("idcity_client", null, htmlAttributes: new { @class = "form-control s" })
                                    @Html.ValidationMessageFor(model => model.idcity_client, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label>@Html.DisplayName("שכונה")</label>
                                <div style="margin-right:30%">
                                    @Html.DropDownList("idneighborhood_client", null, htmlAttributes: new { @class = "form-control s" })
                                    @Html.ValidationMessageFor(model => model.idneighborhood_client, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <label>@Html.DisplayName(" כתובת")</label>

                                @Html.EditorFor(model => model.address_client, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.address_client, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-10">
                                <label>   @Html.DisplayName("מעמד אב")</label>
                                <div style="margin-right:30%">
                                    <select id="fjob" name="fjob" class="form-control s fjob">
                                        <option value="1">לא עובד</option>
                                        <option value="2">עובד</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="sfather">
                            <div class="col-md-10">
                                @Html.DisplayName(" הכנס/י משכורת של חודשים האחרונים")
                                <br />

                            </div>
                            <div class="col-md-10">
                                <label> משכורת חודש</label><label id="lblmy1"></label>
                                <div style="margin-right:30%">
                                    @Html.EditorFor(model => model.salary1, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0", @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-10">

                                <label> משכורת חודש</label><label id="lblmy2"></label>
                                <div style="margin-right:30%">
                                    @Html.EditorFor(model => model.salary2, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0", @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label>   @Html.DisplayName("מעמד אם")</label>
                                <div style="margin-right:30%">
                                    <select id="mjob" name="mjob" class="form-control s mjob">
                                        <option value="1" >לא עובד</option>
                                        <option value="2">עובד</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"  id="smother">
                            <div class="col-md-10">
                                @Html.DisplayName(" הכנס/י משכורת של חודשים האחרונים")
                                <br />

                            </div>
                            <div class="col-md-10">
                                <label> משכורת חודש</label><label id="lblmy3"></label>
                                <div style="margin-right:30%">
                                    @Html.EditorFor(model => model.salary3, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0", @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-md-10">
                                <label> משכורת חודש</label><label id="lblmy4"></label>
                                <div style="margin-right:30%">
                                    @Html.EditorFor(model => model.salary4, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0", @class = "form-control" } })
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-10" id="nc">
                                <label> @Html.DisplayName("  מספר ילדים")</label>

                                @Html.EditorFor(model => model.numchildren_client, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.numchildren_client, "", new { @class = "text-danger" })
                                <br />
                                <br />
                            </div>
                        </div>

                        <div class="form-group" style="text-align:center">
                            <div style="align-items:center">
                                <input type="submit" value="המשך" class="w3-button blue-button" align="center" />
                            </div>
                        </div>

                    </div>
                }
            </div>
                    </div>
                </div>

<script type="text/javascript">

    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2100);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
    $(document).ready(function () {

        if (($('#salary1').text() != "" && $('#salary1').text() != "0") ||( $('#salary2').text() != "" && $('#salary2').text() != "0")) {
            $('#sfather').show();
            $('.fjob').val('2').prop('selected', true);
        }
        else {
            $('#smother').hide();
            $('.fjob').val('1').prop('selected', true);
        }
        if (($('#salary3').text() != "" && $('#salary3').text() != "0") ||( $('#salary4').text() != "" || $('#salary4').text() != "0")) {
            $('#smother').show();
            $('.mjob').val('2').prop('selected', true);
        }
        else {
            $('#smother').hide();
            $('.mjob').val('1').prop('selected', true);
        }
        var d = new Date();
        
        var month = d.getMonth();
        var year = d.getFullYear();
        for (i = 1; i < 4; i++)
        {
            if (month == 0)
            {
                month = 12;
                year -= 1;
            }
            $('#lblmy' + i).text(month + "/" + year);
            month--;
        }  
        $('#lblmy3').text($('#lblmy1').text());
        $('#lblmy4').text($('#lblmy2').text());
        $(".mjob").change(function () {
            if ($('#mjob').val() == "עובד" || $('#mjob').val()=="2" )
                $('#smother').show();
            else
                $('#smother').hide();
                
        });
        $(".fjob").change(function () {
            if ($('#fjob').val() == "עובד" || $('#fjob').val() == "2")
                $('#sfather').show();
            else
                $('#sfather').hide();

        });
        });
</script>
<style>
    .MakeWide {
        width: 250px;
    }

    .modal-content {
        min-height: 100px;
        height: auto;
        margin: 80px auto 0px auto;
    }
    .s {
        width: 220px;
    }

</style>