﻿@model IEnumerable<Project.Models.tblfiles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title right">  !@ViewBag.name  שלום</h4>
            </div>
            <div class="modal-body">
                <br />
                @using (Html.BeginForm("DownloadFile", "Manager_tblfiles", FormMethod.Post))
                {
                    <input type="hidden" id="hfFileId" name="FileId" />
                    <input type="submit" id="btnDownload" value="Download" style="display:none" />
                }
                <br />
                <table cellpadding="0" cellspacing="0" class="table" style="text-align:left;width:80%">
                    <tr class="tr11">
                        <th></th>
                        <th>Download</th>
                        <th>קובץ</th>
                    </tr>
                    @if (Model.Count() > 0)
                    {
                        foreach (var file in Model)
                        {
                            <tr class="tr22">
                                <td>
                                    @Html.ActionLink("עדכון", "EditFile", new { id = file.id }) |
                                    @Html.ActionLink("מחיקה", "DeleteFile", new { id = file.id })
                                </td>
                                <td><a href="javascript:;" onclick="DownloadFile(@file.id)">Download</a></td>
                                <td>@file.namef</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                    }
                </table>
                @using (Html.BeginForm("Upload_files", "Manager_tblfiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" name="tzt" id="tzt" value="check" style="display:none"/>
                    <h5> באפשרותך להוסיף קבצים נוספים</h5>
                    <br />
                    <h5>צילום ת'ז</h5>
                    <input type="file" id="postedFiles" name="postedFiles" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" />
                    <h5>  עיסוק האב -אישור מביטוח לאומי</h5>
                    <input type="file" name="postedFiles1" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" />
                    <h5>תלושי משכורת</h5>
                    <input type="file" name="postedFiles2" multiple="multiple" accept="application/msword,text/plain, application/pdf,image/*" />
                    <br /><br />
                    <div class="form-group">
                        <div class="modal-footer" style="text-align:center">
                            <br />
                            <input type="submit" value="המשך" class="w3-button blue-button" />
                        </div>
                    </div>
                }
            </div>

            </div>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript">
                    function DownloadFile(fileId) {
                        $("#hfFileId").val(fileId);
                        $("#btnDownload")[0].click();
                    };
                </script>  
            </div>
        </div>
   

<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    $(window).on('load', function () {
        setTimeout(
            function () {
                $('#myModal').modal('show');
            }, 2000);

    });
    $('#myModal').modal({
        backdrop: 'static',
        keyboard: false
    })
</script>

<style>
    .MakeWide {
        width: 250px;
    }
    .modal-content {
        min-height: 100px;
        height: auto;
        margin: 80px auto 0px auto;
    }
    .tr11 {
        background-color: #b8a5e4;
        color: navy;
        font-size: 18px;
    }

    td {
        background-color: #f0d7fc;
        text-align: center;
    }

    td, h3, h2, .dl-horizontal, .form-horizontal {
        color: navy;
    }

    .table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        border-radius: 6px;
        overflow: hidden;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .leftpane {
        width: 50%;
        float: left;
        position: fixed;
    }

    th {
        text-align: center;
    }

    a {
        color: navy
    }
</style>