﻿@using Project.Models
@{
    ViewBag.Title = "Column_Shirts_Youngster";
    Layout = "~/Views/Shared/_ManStatisticLayout.cshtml";

}

<div id="chartContainer"></div>
<br /><br />



<script type="text/javascript">

    $(function () {
        var result = @Html.Raw(ViewBag.DataPoints);
var dataPoints =[];
     for (var i = 0; i < result.length; i++)
     {
         dataPoints.push({ y: result[i].Y, label: result[i].Label,legendText: result[i].Label, size: result[i].Size, type: result[i].Type, category: result[i].Category});
        }
       

        var chart = new CanvasJS.Chart("chartContainer", {
    theme: "light2",
    animationEnabled: true,
     title: {
         text: "סטטיסטיקת" + " " + result[0].category + " " + result[0].type

            },

    data: [
           {
            type: "column",
            toolTipContent: "מידה {size} ניקנתה הכי הרבה",
            dataPoints:@Html.Raw(ViewBag.DataPoints)
            }
           ]
        });
        chart.render();
    });
</script>
