﻿
@{
    ViewBag.Title = "Export Chart as Image";
    Layout = "~/Views/Shared/_ManStatisticLayout.cshtml";

}

<div id="chartContainer"></div>
@Html.ActionLink(" לגרף חולצות נערים ", "Column", "Manager_Statistics", new { type = 1, category = 1, }, null)<br />

<script type="text/javascript">

    $(function () {
        var result = @Html.Raw(ViewBag.DataPoints);
var dataPoints =[];
     for (var i = 0; i < result.length; i++)
     {
         dataPoints.push({ y: result[i].Y, label: result[i].Label,legendText: result[i].Label, size: result[i].Size, type: result[i].Type, category: result[i].Category});
        }

        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "סטטיסטיקת" + " " + result[0].category + " " + result[0].type
            },
            exportFileName: "Pie Chart",
            exportEnabled: true,
            animationEnabled: true,
            legend: {
                verticalAlign: "bottom",
                horizontalAlign: "center"
            },
            data: [
            {
                type: "pie",
                showInLegend: true,
                toolTipContent: "מידה {size} ניקנתה הכי הרבה",
                indexLabel: "{label} {y}%",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
            }
            ]
        });
        chart.render();
    });
</script>