﻿
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ManStatisticLayout.cshtml";

}

<h1>סטטיסטיקות</h1>

<div id="chartContainer1" style="width: 49%; height: 200px;display: inline-block;"></div>
<div id="chartContainer2" style="width: 49%; height: 200px;display: inline-block;"></div>
<br /><br />
<div id="chartContainer3" style="width: 49%; height: 200px;display: inline-block;"></div>
<div id="chartContainer4" style="width: 49%; height: 200px;display: inline-block;"></div>

<script type="text/javascript">

    $(function () {
        var chart1 = new CanvasJS.Chart("chartContainer1", {
            title: {

            },
            axisY: {

            },
            animationEnabled: true,
            axisX: {
            },
            data: [
                {
                    markerSize: 0,
                    toolTipContent: "<span style='\"color: {color};'\"'><strong>Elevation</strong></span> {x} m<br/><span style='\"'color: {color};'\"'><strong>Pressure</strong></span> {y} kPa",
                    type: "spline",
                    showInLegend: true,
                    legendText: " ",
                    dataPoints: [
                        { x: 0, y: 101.3 },
                        { x: 152, y: 99.49 },
                        { x: 457, y: 95.91 },
                        { x: 762, y: 92.46 },
                        { x: 914, y: 90.81 },
                        { x: 1067, y: 89.15 },
                        { x: 2743, y: 72.40 },
                        { x: 3048, y: 69.64 },
                        { x: 4572, y: 57.16 },
                        { x: 6096, y: 46.61 },
                        { x: 7620, y: 37.65 },
                        { x: 9144, y: 30.13 },
                        { x: 10668, y: 23.93 },
                        { x: 12192, y: 18.82 },
                        { x: 18288, y: 7.24 },
                        { x: 21336, y: 4.49 },
                        { x: 24384, y: 2.8 },
                        { x: 27432, y: 1.76 }
                    ]
                }

            ]
        });

        chart1.render();

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            title: {

            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 18,
                fontFamily: "Helvetica"
            },
            theme: "light2",
            data: [
                {
                    type: "pie",
                    indexLabelFontFamily: "Garamond",
                    indexLabelFontSize: 20,
                    indexLabel: "{label} {y}%",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{legendText} {y}%",
                    dataPoints: [
                        { y: 72.48, legendText: " ", label: "" },
                        { y: 10.39, legendText: " ", label: "" },
                        { y: 7.78, legendText: " ", label: "" },
                        { y: 7.14, legendText: " ", label: "" },
                        { y: 0.22, legendText: " ", label: "" },
                        { y: 0.15, legendText: " ", label: "" },
                        { y: 1.84, legendText: " ", label: "" }
                    ]
                }
            ]
        });
        chart2.render();

        var chart3 = new CanvasJS.Chart("chartContainer3",
            {
                theme: "light2",
                animationEnabled: true,
                title: {
                   
                },
                axisY: {
                },
                data: [{
                    type: "column",
                    showInLegend: true,
                    legendMarkerColor: "grey",
                    legendText: " ",
                    dataPoints: [
                        { y: 297571, label: " " },
                        { y: 267017, label: " " },
                        { y: 175200, label: " " },
                        { y: 154580, label: " " },
                        { y: 116000, label: " " },
                        { y: 97800, label: " " },
                        { y: 20682, label: " " },
                        { y: 20350, label: " " }
                    ]
                }]
            });
        chart3.render();

        var chart4 = new CanvasJS.Chart("chartContainer4",
            {
                title: {
                    
                },
                theme: "light2",
                animationEnabled: true,
                axisY: {
                  
                    valueFormatString: "#0,,.",
                    suffix: " m"
                },
                data: [
                    {
                        toolTipContent: "{y} units",
                        type: "splineArea",
                        markerSize: 5,
                        dataPoints: [
                            { x: new Date(1998, 0), y: 1872000 },
                            { x: new Date(1999, 0), y: 2140000 },
                            { x: new Date(2000, 0), y: 7289000 },
                            { x: new Date(2001, 0), y: 4830000 },
                            { x: new Date(2002, 0), y: 2009000 },
                            { x: new Date(2003, 0), y: 2840000 },
                            { x: new Date(2004, 0), y: 2396000 },
                            { x: new Date(2005, 0), y: 1613000 },
                            { x: new Date(2006, 0), y: 2821000 },
                            { x: new Date(2007, 0), y: 2000000 },
                            { x: new Date(2008, 0), y: 1397000 }
                        ]
                    }
                ]
            });
        chart4.render();

    });
</script>